@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>


    .content1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        min-height: 40px;
        padding-right: 24px;
        box-sizing: border-box;
        height: auto;
        min-height: 100px;
        border-radius: 20px;
        padding-top: 10px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22);
        margin: 15px;
        font-size: 20px;
        text-align: end
    }

    .styleOrder {
        width: 45%;
        min-width: 43%;
        padding-bottom: 15%;
    }

    .styleImg {
        width: 40%;
        padding-bottom: 25%;
    }

    body {
        background: #9be010;
        background: radial-gradient(#e5f89e, #96e001);
    }
</style>


<body>



<div>
    <h4>Кошик</h4>
    <hr />
    
    <div class="content1">
         <div class="styleOrder">
          <p>Number </p>
          <p>Orderdfd</p>
         </div>

        <div class="styleImg">
          <img style="" src="https://i.obozrevatel.com/food/recipemain/2020/2/12/screenshot11.png" width="70px" height="70px" />
           <img style="" src="https://i.obozrevatel.com/food/recipemain/2020/2/12/screenshot11.png" width="70px" height="70px" />

        </div>
      
        <div class="styleOrder">
          <p>Summa</p>
          <p>123 grn</p>
        </div>

    </div>
    <div class="content1">
        <div class="styleOrder">
            <p>Number </p>
            <p>Orderdfd</p>
        </div>

        <div class="styleImg">
            <img style="" src="https://i.obozrevatel.com/food/recipemain/2020/2/12/screenshot11.png" width="70px" height="70px" />
            <img style="" src="https://i.obozrevatel.com/food/recipemain/2020/2/12/screenshot11.png" width="70px" height="70px" />

        </div>

        <div class="styleOrder">
            <p>Summa</p>
            <p>123 grn</p>
        </div>

    </div>
</div>
</body>